<section>

  @if (title()) {
    <h3 class="table-title">{{ title() }}</h3>
  }

  <table class="inv-table">
    <thead>
    <tr>
      @if (data()[0].investmentType === 'year') {
        <th>Year</th>
        <th>Investment Value</th>
        <th>Interest (yearly)</th>
        <th>Total Interest</th>
        <th>Invested Capital</th>
      } @else {
        <th>Month</th>
        <th>Investment Value</th>
        <th>Interest (monthly)</th>
        <th>Total Interest</th>
        <th>Invested Capital</th>
      }
    </tr>
    </thead>

    <tbody>
      @for (d of data(); track d.period) {
        <tr>
          <td>{{ d.period }}</td>
          <td>{{ d.investmentValue | currency:currency():'symbol':'1.2-2' }}</td>
          <td>{{ d.interestYear     | currency:currency(): 'symbol':'1.2-2' }}</td>
          <td>{{ d.totalInterest    | currency:currency(): 'symbol':'1.2-2' }}</td>
          <td>{{ d.investedCapital  | currency:currency(): 'symbol':'1.2-2' }}</td>
        </tr>
      }
    </tbody>
  </table>

  @if (showInputField()) {
    <div class="input-fields" [formGroup]="form">
      <div class="input-wrap">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          placeholder="Type your investment title"
          formControlName="investmentTitle"
        />

        <span class="char-counter">
        {{ form.get('investmentTitle')?.value?.length ?? 0 }} / 120
      </span>
      </div>

      <div class="input-wrap">
        <label for="description">Description</label>
        <input
          id="description"
          type="text"
          placeholder="Type your investment description"
          formControlName="investmentDescription"
        />

        <span class="char-counter">
          {{ form.get('investmentDescription')?.value?.length ?? 0 }} / 250
        </span>
      </div>
    </div>
  }

  <div class="actions">

    @if (comparisonData()?.length === 0) {
      <button (click)="onPrimaryAction()" class="actions-bt actions-bt--saveInvestment"
              [disabled]="(form.invalid && showInputField()) || isResultSaved()">
        {{ isResultSaved() ? 'Saved ✅' : showInputField() ? 'Confirm' : 'Save investment' }}
      </button>
    }

    @if ((comparisonData()?.length ?? 0) <= 1) {
      <button (click)="exportToExcel()" class="actions-bt">
        Export to Excel
      </button>

      <button (click)="deleteInvestments()" class="actions-bt actions-bt--delete">
        Delete saved investments
      </button>
    }
  </div>
</section>
