<section>
  <table class="inv-table">
    <thead>
    <tr>
      @if (data[0].investmentType === 'year') {
        <th>Year</th>
        <th>Investment Value</th>
        <th>Interest (yearly)</th>
        <th>Total Interest</th>
        <th>Invested Capital</th>
      } @else {
        <th>Month</th>
        <th>Investment Value</th>
        <th>Interest (monthly)</th>
        <th>Total Interest</th>
        <th>Invested Capital</th>
      }
    </tr>
    </thead>

    <tbody>
      @for (d of data; track d.period) {
        <tr>
          <td>{{ d.period }}</td>
          <td>{{ d.investmentValue | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ d.interestYear     | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ d.totalInterest    | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ d.investedCapital  | currency:'USD':'symbol':'1.2-2' }}</td>
        </tr>
      }
    </tbody>
  </table>

  <div class="actions">
    <button (click)="exportToExcel()" class="export-bt">
      <a>Export to Excel</a>
    </button>
  </div>
</section>
