<section>
  <table class="inv-table">
    <thead>
    <tr>
      <th>Year</th>
      <th>Investment Value</th>
      <th>Interest (Year)</th>
      <th>Total Interest</th>
      <th>Invested Capital</th>
    </tr>
    </thead>

    <tbody>
      @for (d of data; track d.year) {
        <tr>
          <td>{{ d.year }}</td>
          <td>{{ d.investmentValue | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ d.interestYear     | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ d.totalInterest    | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ d.investedCapital  | currency:'USD':'symbol':'1.2-2' }}</td>
        </tr>
      }
    </tbody>
  </table>

  <div class="actions">
    <button (click)="exportToExcel()" class="export-bt">
      <a>Export to Excel</a>
    </button>
  </div>
</section>
