<section class="container">
  <form>
    <div class="user-details">
      <div class="input-box">
        <span class="details">Initial investment</span>
        <input type="number" value="10" required>
      </div>
      <div class="input-box">
        <span class="details">Anual investment</span>
        <input type="number" value="0" required>
      </div>
      <div class="input-box">
        <span class="details">Expected Return</span>
        <input type="number" value="5" required>
      </div>
      <div class="input-box">
        <span class="details">Duration</span>
        <input type="number" value="10" required>
      </div>
    </div>
  </form>

  <button class="calculate-button">CALCULATE</button>
</section>
